In [5]:
import pandas as pd

df1 = pd.read_csv("MLball_profile.csv",header = 0)
df2 = pd.read_csv("MLbowler_cluster.csv",header = 0)
df5 = df1.merge(df2,on='bowler')
df5.head()


df5.columns = ['batsman','Avg','SR','Econ','bowl_cluster']

df5.to_csv('MLbowl_p_c.csv',index = False)

       bowler        Avg         SR      Econ  cluster
0   IK Pathan  32.962500  24.662500  8.019260        2
1     A Nehra  23.311321  17.377358  8.048860        0
2    UT Yadav  29.439560  20.296703  8.702761        0
3  AD Russell  28.645161  19.741935  8.705882        0
4    S Nadeem  35.486486  29.540541  7.207685        6

In [4]:
import pandas as pd

df1 = pd.read_csv("debu_bowl.csv",header = None)
df2 = pd.read_csv("debu_ball_cluster.csv",header = 0)
df1.columns = ['bowler','Avg','SR','Econ']
df5 = df1.merge(df2,on='bowler')
df5.head()


df5.columns = ['bowler','Avg','SR','Econ','bowl_cluster']

df5.to_csv('MLdebu_bowl_p_c.csv',index = False)

In [6]:
import pandas as pd

df1 = pd.read_csv("debu_bat.csv",header = None)
df2 = pd.read_csv("debu_bat_cluster.csv",header = 0)
df1.columns = ['batsman','Avg','SR']
df5 = df1.merge(df2,on='batsman')
df5.head()


#df5.columns = ['batsman','Avg','SR','Econ','bat_cluster']

df5.to_csv('MLdebu_bat_p_c.csv',index = False)