In [2]:
import csv
import yaml
import glob
import os
#filenum = 0
tot_dict = {}
runner = ['batsman','bowler','non_striker','runs']
with open('/home/mehul/Downloads/New_BData/ML Data/MLball_by_ball_new.csv','w') as f:
    w =csv.DictWriter(f,runner,delimiter = ',',lineterminator = '\n')
    w.writeheader()
    for filename in glob.glob('/home/mehul/Downloads/New_BData/profiles/ipl/*.yaml'):
     #   filenum = filenum+1
        myDict = yaml.load(open(filename))
        newDict = myDict["innings"]
        score_sheet = {}
        for inning in range(len(newDict)):
            new=newDict[inning]
            for inn_key in new:
                deliver = new[inn_key]
            deliveries = deliver['deliveries']
            for i in deliveries[:]:
                for key in i:
                    score_sheet['batsman'] = i[key]['batsman']
                    score_sheet['bowler'] = i[key]['bowler']
                    score_sheet['non_striker'] = i[key]['non_striker']
                    if 'wicket' in i[key]:
                        score_sheet['wickets'] = 1
                    else:
                        score_sheet['wickets'] = 0
                    score_sheet['runs'] = i[key]['runs']['batsman']
                w.writerow(score_sheet)

In [1]:
import pandas as pd

bat_df = pd.read_csv("/home/mehul/Downloads/New_BData/ML Data/MLbat_p_c.csv",header = 0)
bowl_df = pd.read_csv("/home/mehul/Downloads/New_BData/ML Data/MLbowl_p_c.csv",header = 0)

all_df = pd.read_csv('/home/mehul/Downloads/New_BData/ML Data/MLball_by_ball_new.csv',header = 0)

df3 = bat_df[['batsman','Avg','SR','bat_cluster']]
df3.columns=['non_striker','Avg','SR','non_str_cluster']

In [2]:
#df4 = pd.read_csv('ball_by_ball1.csv',header = 0)
df5 = all_df.merge(df3,on='non_striker')
df6 = df5.merge(bowl_df,on='bowler')
#df7 = df6[['cluster_x','cluster_y','non_striker','runs','venue']]
df8 = df6.merge(bat_df,on='batsman')

In [3]:
df9 = df8[['bat_cluster','Avg','SR','bowl_cluster','Avg_y','SR_y','Econ','non_str_cluster','Avg_x','SR_x','runs','wickets']]

In [4]:
df9.columns = ['bat1_cluster','bat1_avg','bat1_SR','bowl_cluster','bowl_avg','bowl_SR','bowl_Econ','bat2_cluster','bat2_avg','bat2_SR','runs','wickets']

In [5]:
df9.head()

,bat1_cluster,bat1_avg,bat1_SR,bowl_cluster,bowl_avg,bowl_SR,bowl_Econ,bat2_cluster,bat2_avg,bat2_SR,runs,wickets
0,5,28.220779,113.118168,2,32.9625,24.6625,8.01926,5,33.571429,117.999228,1,0
1,5,28.220779,113.118168,2,32.9625,24.6625,8.01926,5,33.571429,117.999228,1,0
2,5,28.220779,113.118168,2,32.9625,24.6625,8.01926,5,33.571429,117.999228,1,0
3,5,28.220779,113.118168,2,32.9625,24.6625,8.01926,5,33.571429,117.999228,1,0
4,5,28.220779,113.118168,2,32.9625,24.6625,8.01926,5,33.571429,117.999228,4,0

In [6]:
df9.to_csv("ML_mainData_new.csv",index = False)